img {
  object-fit: cover;
}

.eventItemContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  gap: 1rem;
  padding: 0 2rem;
}

.eventInfoContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 14px;
  text-align: left;
}

.eventName {
  margin: 0;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.eventInfo {
  width: 100%;
  text-align: left;
  margin: 0;
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.eventSeeMoreBtn {
  bottom: 0;
  margin-top: 10px;
}

.imageContainer {
  position: relative;
  box-sizing: border-box;
}

.hearthImage {
  position: absolute;
  width: 40px;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.eventImage {
  width: 23vw;
  height: 23vw;
}

@media (max-width: 430px) {
  .eventInfoContainer {
    margin-left: 0;
    /* padding: 0px 1rem; */
    min-width: 47vw;
    /* width: 90%; */
  }

  .eventItemContainer {
    /* flex-direction: column; */
    flex-direction: row-reverse;
    padding: 0 1rem;
  }

  .imageContainer {
    min-width: 45%;
    max-width: 45%;
    height: 80%;
    width: 45%;
    /* padding-right: 1rem; */
  }

  .eventImage {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .eventInfo {
    -webkit-line-clamp: 2;
  }
}